---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
---

<Layout title="Prodotti">
  <div class="flex flex-wrap p-5 items-center justify-center">
    <Card
      title="Climatizzatori"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      photoUrl="https://scontent.fgoa5-2.fna.fbcdn.net/v/t39.30808-6/406494950_18005675111467253_1665671170293077602_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3635dc&_nc_ohc=xV57giYg7OsAX-F09Ou&_nc_ht=scontent.fgoa5-2.fna&oh=00_AfAQ2SxaxT59c7gwlz56OAf5brLWGkGO6SBXaT2iqw04SQ&oe=65A88B4D"
    />
    <Card
      title="Impianto Fotovoltaico"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      photoUrl="https://scontent.fgoa5-2.fna.fbcdn.net/v/t39.30808-6/244202110_382256876973557_1260386748688769199_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=npUfFSA8lOUAX9kuDVb&_nc_ht=scontent.fgoa5-2.fna&oh=00_AfAQ0Dz-1qCx3F0PH7p4W7xbdd-45Zu7v_PPGPc5pFJoxw&oe=65A8C22F"
    />
    <Card
      title="Chiller"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      photoUrl="https://flowbite.com/docs/images/blog/image-1.jpg"
    />
    <Card
      title="ScaldaAcqua Pompa Di Calore"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      photoUrl="https://scontent.fgoa5-2.fna.fbcdn.net/v/t39.30808-6/306165551_509089331216939_5865126806680128825_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=3635dc&_nc_ohc=QYaWmn0IjXgAX8Kv8cX&_nc_oc=AQkTaQpyxJ2LXhFtZsRiN4vze6oUh2lTeEN9h-xwfo49CGDnmFjXAHcrYoStFaFSrmg&_nc_ht=scontent.fgoa5-2.fna&oh=00_AfA4iOqF95yQP9k6nyGwu3RCSsBNg2kYcXnz03Zf_ZafPA&oe=65A71A4E"
    />
    <Card
      title="Collonine di Ricarica"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      photoUrl="https://qualityenergy.it/wp-content/uploads/2023/05/Colonnina-ricarica-auto-elettrica-e1632922031344.jpeg"
    />
  </div>
</Layout>
